*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: "Inter", "Roboto", Arial, sans-serif;
    outline: 2px solid red;
}
#hero-page{
    background-color: black;
    width: 100%;
    height: 625px;
    background:url("images/O1CN01ustqhi1Tz44lu4arh_!!6000000002452-0-tps-3840-1248.jpg_q60.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
background-size: cover;
}
.hero-container{
    /* background-color: aqua; */
    height: 100px;
}
.hero-row{
    /* background-color: rgb(193, 198, 198); */
    padding: 22px 31px;

}
.navbar-logo{
    /* background-color: aqua; */
    display: inline-block;
    vertical-align: top;
}
.navbar-logo a{
    width: 187px ;
    height: 22px;
    /* background-color: rgb(0, 255, 191); */


}
.navbar-logo a img{
    width: 167px ;
    height: 25px;
    /* background-color: rgb(0, 255, 191); */


}
.navbar-right-content{
    /* background-color: rgb(136, 255, 0); */
    display: inline-block;
    float: right;
    margin-right: 36px;
    width: 33%;
}
.deliver-option{
    /* background-color: antiquewhite; */
    vertical-align: bottom;
    display: inline-block;
    width: 71px;   

}
.deliver-option , .dt{
    color: white;
    font-size: 13px;
    font-weight: 400;
    
}
.deliver-flag-img {
width: 26px;
height: 17px;  
}
.pk{
    font-weight: bolder;
    font-size: 13px;
    vertical-align: top;

}

.navbar-icons {
    width: 138px;
    height: 35px;
    /* background-color: black; */
    display: inline-block;
    vertical-align: middle;


}
.navbar-icons img{
    width:20px;
    height:20px;
}
#nav-icon{
    margin-right: 23px;
    margin-top: 5px;
}
.nav-top-button{
    background-color: #fa6600;
    display: inline-block;
    vertical-align: middle;
    padding: 10px 29px;
    border-radius: 20px;
    transition: all 0.2s ease-out;
    margin-left: 31px;
}
.nav-top-button a{
    color: #ffff;
    text-decoration: none;
    font-size: 14px;
}
.nav-top-button:hover{
 background-color: #e35c02;
}

.navbar-buttom-content{
    /* background-color: rgb(207, 237, 89); */
    /* display: inline-block; */
    margin-top: 22px;
    font-size: 15px ;
    font-weight: 400;
    color: #ffff;
}
.navbar-left-categories{
    display: inline-block;
}

.navbar-left-categories span{
    padding-right: 22px;
}

/* .navbar-left-categories span::after{
   content: "";
   position: absolute;
   top: 96px;
   bottom: 0px;
   height: 2px;
   width: 92px;
   color: #1f76c2;
   transition: all 0.2s ease-in;
   background-color: antiquewhite;
   left: 79px;
   border-radius:20px;
   opacity: 0;
   cursor: pointer;
   transform: translateX(-50%);

}
 .navbar-left-categories span:hover::after {
    opacity: 1;
     
} */

.navbar-right-categories{
    display: inline-block;
    float: right;
}
.navbar-right-categories span{
    padding-right: 15px;
}


/* front - page */


.front-page{
    /* background-color: antiquewhite; */
    
}
.front-container{
    padding: 115px 23px 12px 45px;
    max-width: 966px;
}
.pause-icon{
    /* background-color: rgb(234, 175, 98); */
    display: inline-block;
    
}
.pause-icon a{
 text-decoration: none;
    
}
.pause-icon img{
    vertical-align: bottom;
    width: 27px ;
    height: 27px;
}
.pause-heading a{
    text-decoration: none;
    color: #ffff;
    font-size: 21px;
    font-weight: 400;
}

.front-heading{
    font-size: 44px;
    font-weight: 700;
    line-height: 48px;
    padding-top: 23px;
    color: #ffff;

}

.search-bar{
    /* background-color: aquamarine; */
    display: inline-block;
    margin-top: 37px;
    position: relative;
    
}
.search-container{
    position: relative;
}
.search-container input{
    outline: 0;
    padding: 17px 12px 17px 25px;
    width: 49rem;
    border: none;
    border-radius: 30px;
    color: rgb(161, 159, 159);
    font-size: 17px;
}
.camera-img{
    position: absolute;
    top: 15px;
    right: 118px;
    height: 44px;
    width: 44px;
}
.camera-img:hover{
 filter: invert(50%);
 -webkit-filter: invert(50%);
}
.camera-img img{
    height: 24px;
    width: 24px;
}
.search-container a{
 text-decoration: none;
color: #ffff;
}
.search-container a{
    position: absolute;
    right: 5px;
    top: 4px;
    padding: 11px 20px;
    background-color: #fa6600;
    display: inline-block;
    border-radius: 34px;
    width: 125px;
}
.search-icon {
    height: 24px;
    width: 24px;
    filter: invert(100%);
    vertical-align: middle;
}




















.last-heading{
    /* background-color: rgb(172, 173, 173); */
    margin-top: 29px;
    color: #ffff;
}
.last-h{
    font-size: 17px;
    font-weight: 400;
    display: inline-block;

}
.last-buttons{
    display: inline-block;
    padding-left: 12px;

}
#lastbtn{
    display: inline-block;
    border: 1px solid white;
    padding: 7px 27px 7px 26px;
    background: transparent;
    border-radius: 30px;
  
}
#lastbtn a{
    text-decoration: none;
    color: #ffff;
    font-size: 15px;

}
.btn-1{
    margin-right: 12px;
}
.btn-2{
    margin-right: 12px;
}
#lastbtn:hover{
    background-color: rgb(28, 28, 28,0.7);
}
